<h1>Listing plugin_call_fields</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plugin_call_fields.each do |plugin_call_field| %>
      <tr>
        <td><%= link_to 'Show', plugin_call_field %></td>
        <td><%= link_to 'Edit', edit_plugin_call_field_path(plugin_call_field) %></td>
        <td><%= link_to 'Destroy', plugin_call_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plugin call field', new_plugin_call_field_path %>
