<section class="toolinput">

<row>
  <div class="small-12 large-12 columns">

    <h1>Tool Inputs</h1>
    <h4 class="subheader">
     Here you can choose tool inputs. The
        inputs are things like details on what data to get, which datasets to combine, or which fields should be used
        for which parts of a visualization.

    </h4>
    <hr>

  </div>
</row>

<row>
<%= render partial: "form", locals: { recipe: @recipe, stepid: Step.find(params[:stepid]) } %>
</row>
</section>

<%= content_tag "span", id: "load", data: {load: "load"} do %>
<% end %>

<script>
    $(document).foundation({
        tab: {
            callback: function (tab) {
                console.log(tab);
            }
        }
    });
</script>
