<h1>Tool Inputs</h1>

<h3 class="subheader">
  <small>Here you can choose tool inputs. The
    inputs are things like details on what data to get, which datasets to combine, or which fields should be used
    for which parts of a visualization.
  </small>
</h3>
<br/>


<%= render partial: "form", locals: {recipe: @recipe, stepid: Step.find(params[:stepid])} %>


<script>
    $(document).foundation({
        tab: {
            callback: function (tab) {
                console.log(tab);
            }
        }
    });
</script>
