<%= javascript_include_tag 'datamaps.world.min' %>

<div id="container" style="position: relative; width: 1000px; height:
			   600px;"></div>
<script>
    var dataset;
    var filldata;
    d3.json(<%= raw output %>, function(error, data){
    dataset = data;
    
    var choropleth = new Datamap({
      element: document.getElementById('container'),
      projection: 'mercator',
      fills: {
        defaultFill: "#ABDDA4"
      }
    });
    
    choropleth.updateChoropleth(dataset);
});
</script>
