<table>
<tr><td>
<button type="button" style="background-color: transparent;
                                                         border-color:
                                                         transparent;
                                                         cursor: default;
                                                         overflow: auto;"
                                                         class="expandcol"
	data-toggle="collapse"
                                                         data-target="#<%= stepnum %>datatable">
                                                         </button></td>
</tr>
<tr><td>
<div id="<%= stepnum %>datatable" class="collapse in">
    <%= raw output %>
</div>
</td>
</tr>
</table>
