    <head>
        
        <!-- jQuery -->
        <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <!-- BEGIN TimelineJS -->
        <script type="text/javascript">
            $(document).ready(function() {
                createStoryJS({
                    type:       'timeline',
                    width:      '800',
                    height:     '600',
                    start_zoom_adjust:  '1',
                    start_at_end:       false,
                    source: <%= raw output %>,
                    embed_id:   'time_line'
                });
                $('#time_line > .content').removeAttr('display');
            });
        </script>
        <!-- END TimelineJS -->
    </head>
    <body>

        <div id="time_line"></div>

    </body>
