<div class="row" data-equalizer>

  <div class="medium-4 small-4 columns callout panel" data-equalizer-watch>
    <dl>
      <dt>
        Get Data
      </dt>
      <dd>
        Choose this to use another datasource from the available dataset, for use with tools like "Combine".
      </dd>
    </dl>
    <span data-tooltip class="has-tip" title="Click here to choose a data source."><a href="#" class="button" data-reveal-id="getDataModal" data-reveal>Add Data</a></span>
  </div>
  <div class="medium-4 small-4 columns

    callout
 panel" data-equalizer-watch>
    <dl>
      <dt>
        Combine Data
      </dt>
      <dd>
        Choose this to use another datasource from the available dataset, for use with tools like "Combine".
      </dd>
    </dl>
    <span data-tooltip class="has-tip" title="Click here to choose a data source."><a href="#" class="button" data-reveal-id="combineDataModal" data-reveal>Add Data</a></span>
  </div>
  <div class="medium-4 small-4 columns

    callout
panel" data-equalizer-watch>
    <dl>
      <dt>
        Visualize Data
      </dt>
      <dd>
        Choose this to use another datasource from the available dataset, for use with tools like "Combine".
      </dd>
    </dl>
    <span data-tooltip class="has-tip" title="Click here to choose a data source."><a href="#" class="button" data-reveal-id="visualizeDataModal" data-reveal>Add Data</a></span>

  </div>
</div>
<div class="row">
  <div class="small-6 columns">


  </div>
</div>
<%= render :partial => "steps/form", :locals => { :recipe => Recipe.find(params[:recipe]) } %>
<div id="getDataModal" class="reveal-modal" data-reveal>
  <h2>Choose a Data Source</h2>
  <p class="lead">All available data sources are listed in the dropdown.</p>
  <p>Once you choose, you'll be directed to the next step where you can select more options.</p>
  <%= render :partial => "steps/form", :locals => { :recipe => Recipe.find(params[:recipe]) } %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="combineDataModal" class="reveal-modal" data-reveal>
  <%= render :partial => "steps/combineform", :locals => { :recipe => Recipe.find(params[:recipe]) } %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="visualizeDataModal" class="reveal-modal" data-reveal>
  <%= render :partial => "steps/visualizeform", :locals => { :recipe => Recipe.find(params[:recipe]) } %>
  <a class="close-reveal-modal">&#215;</a>
</div>

