<div class="row" data-equalizer>

  <div class="medium-4 small-4 columns callout panel" data-equalizer-watch>
    <dl>
      <dt>
        Get Data
      </dt>
      <dd>
        Get data from a variety of sources or upload your own documents.
      </dd>
    </dl>
    <span data-tooltip class="has-tip" title="Click here to get or upload data."><a href="#" class="button" data-reveal-id="getDataModal" data-reveal>Get Data</a></span>
  </div>
  <div class="medium-4 small-4 columns
    <% if @recipe.nil? %>
      <% else %>  callout <% end %> panel" data-equalizer-watch>
    <dl>
      <dt>
        Combine/Filter
      </dt>
      <dd>
        Combine, crossreference, and extract text from documents and data.
      </dd>
    </dl>
    <span data-tooltip class="has-tip" title="Click here to combine data."><a href="#" class="button" data-reveal-id="combineDataModal" data-reveal>Combine/Filter</a></span>
  </div>
  <div class="medium-4 small-4 columns   <% if @recipe.nil? %>
      <% else %> callout <% end %> panel" data-equalizer-watch>
    <dl>
      <dt>
        Visualize
      </dt>
      <dd>
        Turn data and documents into visualizations like timelines and network graphs.
      </dd>
    </dl>
    <span data-tooltip class="has-tip" title="Click here to visualize data."><a href="#" class="button" data-reveal-id="visualizeDataModal" data-reveal>Visualize</a></span>

  </div>
</div>

<div id="getDataModal" class="reveal-modal" data-reveal>
  <%= render :partial => "steps/form", :locals => { :recipe => @recipe } %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="combineDataModal" class="reveal-modal" data-reveal>
  <%= render :partial => "steps/combineform", :locals => { :recipe => @recipe } %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="visualizeDataModal" class="reveal-modal" data-reveal>
  <%= render :partial => "steps/visualizeform", :locals => { :recipe => @recipe } %>
  <a class="close-reveal-modal">&#215;</a>
</div>


<script>
    $('.disabled').click(function(e){
        return false;
    });
</script>


