<h1 style="display: inline;">Analysis Sequence</h1>
<div style="display: inline; float: right;">
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      recipe_path(@recipe),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %></div>

<br /><br />
<%= render :partial => "steps/steps", :locals => { :recipe => @recipe } %>
