<div class="row" data-equalizer>

  <div class="large-4 columns callout panel" >
    <dl data-equalizer-watch>
      <dt> <h3>
        Get Data </h3>
      </dt>
      <dd class="description">
	Get data from a variety of sources or upload your own documents.
      </dd>
      <dd>
        <span data-tooltip class="has-tip" title="Click here to get or upload data."><a href="#" class="button large" data-reveal-id="getDataModal" data-reveal>Get Data</a></span>
      </dd>
    </dl>
  </div>
  <div class="large-4 columns
 callout panel" >
    <dl data-equalizer-watch>
      <dt> <h3>
        Combine/Filter </h3>
      </dt>
      <dd class="description">
	Combine, crossreference, and extract text from documents and data.
      </dd>
      <dd>
        <span data-tooltip class="has-tip" title="Click here to combine data."><a href="#" class="button large" data-reveal-id="combineDataModal" data-reveal>Combine/Filter</a></span>

      </dd>
    </dl>
  </div>
  <div class="large-4 columns
      callout  panel" >
    <dl data-equalizer-watch>
      <dt>    <h3>
        Visualize  </h3>
      </dt>
      <dd class="description">
	Turn data and documents into visualizations like timelines and network graphs. 
      </dd>
      <dd>
        <span data-tooltip class="has-tip" title="Click here to visualize data."><a href="#" class="button large" data-reveal-id="visualizeDataModal" data-reveal>Visualize</a></span>


      </dd>
    </dl>

  </div>
</div>

<div id="getDataModal" class="reveal-modal" data-reveal>
  <h3>Get New Data</h3>
  <%= render :partial => "steps/form", :locals => { :recipe => Recipe.find(params[:recipe]), :category_id => '1' } %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="combineDataModal" class="reveal-modal" data-reveal>
  <h3>Combine Data</h3>
  <%= render :partial => "steps/form", :locals => { :recipe => Recipe.find(params[:recipe]), :category_id => '2'  } %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="visualizeDataModal" class="reveal-modal" data-reveal>
  <h3>Visualize Data</h3>
  <%= render :partial => "steps/form", :locals => { :recipe => Recipe.find(params[:recipe]), :category_id => '3'  } %>
  <a class="close-reveal-modal">&#215;</a>
</div>






