

    <h1>Choose a Tool</h1>
    <h3 class="subheader">Choose a tool to get data or use on a dataset you have already retrieved.</h3>
    <%= render :partial => "steps/form", :locals => { :recipe => Recipe.find(params[:recipe]) } %>

