// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
button.expandcol.collapsed:before
{
    content: "\f067  See Data";
    font-family: FontAwesome;
}

button.expandcol:before
{
    content: "\f068  Hide Data";
    font-family: FontAwesome;
}


.tabs-content {
  overflow: scroll;
  }

.accordion dd.outer.active>a:before {

  content: "\f176";
  font-family: "foundation-icons";


}

.vco-timeline .vco-navigation .timenav .content {
  display: block;
  }

.accordion dd.outer>a:before {

  content: "\f199";
  font-family: "foundation-icons";
}

.modal-form {
  position: relative !important;
}


.description {
  height: 75px;
  }