// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
button.expandcol.collapsed:before
{
    content: "\f067  See Data";
    font-family: FontAwesome;
}

button.expandcol:before
{
    content: "\f068  Hide Data";
    font-family: FontAwesome;
}


.accordion .content {
  overflow: hidden;
}